<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.CjpmMapper">
<select id="getCjpm" parameterType="String" resultType="cjpm">
		select * from cjpm where sno=#{sno};commit tran
	</select>
	<select id="getCjpms" parameterType="String" resultType="cjpm">
		select * from cjpm ;commit tran
	</select>
	<insert id="insertCjpm" parameterType="cjpm" >
		insert into cjpm(sno,sname,sclass,total)  values (#{sno},#{sname},#{sclass},#{total});commit tran
	</insert>
	<update id="updateCjpm" parameterType="cjpm" >
		update cjpm set sname=#{sname},sclass=#{sclass} where sno=#{sno};commit tran
	</update>
	<update id="updateCjpmtotal" parameterType="String" >
		update cjpm set total = (select isnull(sum(grade),0) from xxxx where sno = #{sno}) where sno = #{sno};
		alter table cjpm drop column rank;
		alter table cjpm add rank int IDENTITY(1,1) NOT NULL;commit tran
	</update>
	<delete id="deleteCjpm" parameterType="String" >
		delete from cjpm where sno=#{sno};
		alter table cjpm drop column rank;
		alter table cjpm add rank int IDENTITY(1,1) NOT NULL;commit tran
	</delete>
</mapper>