@charset "UTF-8";
 html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}
 .form-box{
        width:400px;
        height: 300px;
        margin: auto;
        position: relative;
        top: 50px;
        padding-top: 10px;
}
.login_box{
	width: 620px;
	height:350px;
	background: #f6f9fe; 
	border:1px solid #b5c2d5;
    border-collapse:collapse;
	margin: 0 auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 25%;
	display: block;
	overflow: hidden;
	border-radius: 15px;
}
.submit_button{
	width: 270px; /* 宽度 */	
	height: 40px; /* 高度 */	
	top:-100px;
	border-width: 0px; /* 边框宽度 */	
	border-radius: 3px; /* 边框半径 */	
	background: #1E90FF; /* 背景颜色 */
	cursor: pointer; /* 鼠标移入按钮范围时出现手势 */	
	outline: none; /* 不显示轮廓线 */	
	font-family: Microsoft YaHei; /* 设置字体 */	
	color: white; /* 字体颜色 */	
	font-size: 17px; /* 字体大小 */
	position:relative;
	
}
.stu{
	height: 100%;
    display: -ms-flexbox;
    display: -moz-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -ms-flex-flow: column nowrap;
    -moz-flex-flow: column nowrap;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
}
.stu_top{
	background-color: rgb(219, 230, 233);
	width: 100%;
	display: block;
	line-height: 45px;
	position: relative;
	height: 45px;
}
.stu_top_letter{
	color:black;
	padding: 0 30px;
	cursor: pointer; /* 鼠标移入按钮范围时出现手势 */
}
.stu_panel{
	display: -ms-flexbox;
	display: -moz-box;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-ms-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	border-bottom: 1px solid #ccc;
	padding-top: 10px;
	padding-right: 16px;
	padding-bottom: 10px;
	padding-left: 16px;
	background-color: #fff
}
.stu_button{
	width: 45px; /* 宽度 */	
	height: 29px; /* 高度 */	
	border-width: 0px; /* 边框宽度 */	
	border-radius: 3px; /* 边框半径 */	
	background: #a7c9cf; /* 背景颜色 */
	cursor: pointer; /* 鼠标移入按钮范围时出现手势 */	
	outline: none; /* 不显示轮廓线 */	
	font-family: Microsoft YaHei; /* 设置字体 */	
	color: white; /* 字体颜色 */	
	font-size: 15px; /* 字体大小 */
}